/*
section.secret {
  background: rgba(50, 0, 121, 0.1);
}

section.secret.gm-secret {
  background: rgba(121, 0, 53, 0.1);
}

section.secret:before {
  content: 'secret';
  font-size: 0.9rem;
  font-weight: bolder;
  font-variant-caps: small-caps;
  opacity: 0.5;
}

section.gm-secret:before {
  content: 'gm secret';
  color: rgba(121, 0, 53, 0.5);
}

body:not(.game-master) section.gm-secret {
  display: none;
}
*/

environment-interaction-notes .editor {
  position: sticky;
  overflow: auto;
  /*height:calc (100% - 40px);*/
  height: 90%;
  background: rgba(121, 0, 53, 0.1);
}

.environment-interaction-notes button {
  height: 34px;
  width: 48%;
  margin-bottom: 6px;
}

.open-environment-interaction-note .fa-people-carry{
  color:orangered;
  text-shadow: 0 0 8px orangered;
}