.ei-flex-container {
  display: flex;
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #eeede0;
  line-height: normal;
  padding: 0px;
  /* margin: 0 0 5px; */
}

.ei-icon {
  flex: none;
  border-style: none;
  justify-self: center;
  align-self: center;
  height: 40px;
  width: 40px;
}

.ei-item-details {
  flex: 1;
  text-align: left;
  padding-left: 10px;
  align-self: center;
}

.ei-name {
  width: 185px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ei-type {
  font-size: 12px;
  color: #4b4a44;
}

.ei-info {
  width: 10%;
}

.ei-controls {
  display: inline-flex;
  width: 100%;
}

.form-group.stacked.notes-info.editor {
  height: 150px;
}

.open-environment-interaction-note .fa-people-carry {
  color: orangered;
  text-shadow: 0 0 8px orangered;
}

.open-environment-interaction-note .fa-hands {
  color: greenyellow;
  text-shadow: 0 0 8px greenyellow;
}
